.img {
    text-align: center;
}

.text {
    text-align: center;
    font-family: 'Gamja Flower', cursive;
}

.order {
    text-align: left;
    margin-left: 400px;
    font-family: 'Cute Font', cursive;
}

.request {
    border: 1px solid gainsboro;
    height: 30px;
    line-height: 30px;
    width: 600px;
    text-align: center;
    font-size: 15px;
}