/* 태그명을 바로 가리킬 때 */
/* class를 만들어 가리킬 때 */
.mytitle {
    background-image: url('http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0');
    background-size: cover;
    width: 300px;
    height: 200px;
    color: white;
    text-align: center;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-item: center;
    justify-content: center;

    /* font-family: 'Nanum Pen Script', cursive; */
    /* font-family: 'Gamja Flower', cursive; */
}

.mytitle>h1 {
    margin: 0 0 5px 0;
}

.mytitle>h5 {
    margin: 5px 0 0 0;
}

.wrap {
    width: 300px ;
    margin: 50px auto 0 auto
}

.small-font {
    font-size: 10px;
}