.wrap {
    width: 900px;
    margin: auto;
    font-family: 'Gamja Flower', cursive;
}

.abc {
    max-width: 500px;
    padding: 2rem;
    margin: 2rem auto;
    border-color: #e9ecef;
    border-radius: 0.3rem;
    border: solid;
    display: block;
}